@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

body, html {
  background: #fff;
}

ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:link, input:focus, textarea:focus, select:focus {
  outline: none;
}

a:hover {
  cursor: pointer;
}

.clearfix {
  *zoom: 1;
}

.clearfix:after {
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.container {
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
}

.icon {
  display: inline-block;
  _display: inline;
}

.header {
  min-width: 1280px;
  width: auto;
  height: 56px;
  overflow: hidden;
  margin: 0 auto;
  background: #fff;
}

.logo-name {
  font-size: 21px;
  color: #393a3a;
  font-family: "黑体";
  vertical-align: super;
}

.logo {
  margin-left: 45px;
}

.logo, .nav li {
  height: 56px;
  line-height: 56px;
}

.nav {
  margin-right: 45px;
}

.nav li {
  float: left;
  padding: 0 5px;
  margin-top: -2px;
  border-bottom: 2px solid white;
}

.nav a {
  float: left;
  padding: 0 10px;
  color: #787b83;
  text-decoration: none;
  vertical-align: middle;
}

.nav .cur, .nav li:hover {
  border-bottom: 2px solid #e74f4d;
}

.nav .cur a, .nav li:hover a {
  color: #e74f4d;
}

.nav .nav-user {
  color: #e74f4d;
}

.nav-login {
  vertical-align: super;
}

.banner {
  min-width: 1280px;
  width: auto;
  height: 690px;
  overflow: hidden;
  background: url("../img/bg-banner.jpg") no-repeat;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-banner.jpg',sizingMethod='scale');
}

.greeting {
  margin: 230px 0 0 130px;
}

.txt1, .txt2, .btn-start {
  font-size: 60px;
  color: #fff;
  font-family: "微软雅黑";
}

.txt2 {
  font-size: 21px;
  margin: 10px 0 0 8px;
  display: block;
}

.btn-start {
  margin: 67px 0 0 8px;
  font-size: 30px;
  padding: 16px 100px;
  background: #e74f4d;
  border: none;
}

.advanta ul {
  overflow: hidden;
}

.advanta li {
  float: left;
  width: 25%;
  text-align: center;
}

.advant-icon {
  padding: 45px 0;
}

.advant-txt {
  width: auto;
  height: 50px;
  overflow: hidden;
  margin: 0 -2px 65px 0;
  padding: 0 70px;
  line-height: 18px;
  font-size: 14px;
  color: #767777;
  font-family: "黑体";
  border-right: 2px solid #aaa;
}

.ask {
  width: auto;
  height: 360px;
  overflow: hidden;
  background: #ededed;
  text-align: center;
}

.ask-logo {
  padding: 80px 0 50px;
}

.ask-txt {
  font-size: 54px;
  color: #323333;
  font-family: "黑体";
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.search {
  width: auto;
  height: 340px;
  overflow: hidden;
  min-width: 1280px;
  background: url("../img/bg-map.jpg") no-repeat;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-map.jpg',sizingMethod='scale');
}

.search-txt {
  text-align: center;
  font-size: 21px;
  color: #fff;
  font-family: "微软雅黑";
  margin: 53px 0 51px;
}

.search-txt span {
  display: block;
  margin: 10px auto 20px;
  width: 30px;
  border-bottom: 3px solid #fff;
}

.search-info {
  font-size: 12px;
}

.search-form-box {
  margin: 0 125px;
}

.search-form-box li {
  float: left;
  position: relative;
  overflow: visible;
}

.search-form-box li:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  right: 38px;
  z-index: 9;
  width: 20px;
  height: 18px;
  overflow: hidden;
  background: #be4e48;
  color: white;
}

.search-form-box li:before {
  content: "";
  display: block;
  position: absolute;
  top: 11px;
  right: 43px;
  z-index: 10;
  width: 7px;
  height: 7px;
  overflow: hidden;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: white;
}

.search-form-box select, .search-form-box input {
  width: 236px;
  height: 36px;
  overflow: hidden;
}

.search-form-box select {
  overflow: visible;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin-right: 28px;
  border: 1px solid #e74f4d;
  font-size: 12px;
  color: #a8aaaa;
  font-family: "微软雅黑";
  padding: 0 10px;
}

.search-form-box select:hover {
  cursor: pointer;
}

.search-form-box option {
  background: #e3e2e4;
  border: 1px solid #e74f4d;
}

.search-form-box option:hover {
  background: #e74f4d;
}

.search-form-box .css {
  background: #e74f4d;
}

.search-form-box input {
  float: right;
  background: #e74f4d;
  border: 0px;
  font-size: 14px;
  color: #fff;
  font-family: "微软雅黑";
  letter-spacing: 14px;
}

.search-form-box input:hover {
  background: #d6403e;
}

.show {
  width: auto;
  height: 630px;
  overflow: hidden;
  background: #f7f7f7;
}

.show ul {
  padding: 0 148px;
  margin: 100px 0 115px;
  margin-left: -56px;
}

.show ul li {
  float: left;
  margin-right: 36px;
}

.show-img-box {
  padding: 10px;
  border: 1px solid #dadada;
  background: #fff;
}

.show-img-box img {
  width: 202px;
  height: 311px;
  overflow: hidden;
}

.show-txt {
  text-align: center;
  font-size: 14px;
  color: #9f9f9f;
  font-family: "微软雅黑";
}

.show-txt-tit {
  display: block;
  margin: 13px 0 12px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
  font-family: "微软雅黑";
}

.show-txt-tit2 {
  margin: 6px 0 8px;
  word-spacing: 2em;
}

.show-txt-info {
  display: block;
  margin: 0 0 8px;
}

.about-our {
  position: relative;
  width: auto;
  height: 566px;
  overflow: hidden;
}

.about-our ul {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 11;
  width: 10000000px;
}

.about-our ul li {
  float: left;
  width: 1280px;
  height: 566px;
  overflow: hidden;
}

.about-num {
  position: absolute;
  right: 175px;
  bottom: 80px;
  z-index: 12;
}

.about-num span {
  float: left;
  width: 12px;
  height: 12px;
  overflow: hidden;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #929293;
  margin: 0 5px;
}

.about-num span.cur {
  background: #929293;
}

.about-num span:hover {
  background: #929293;
  cursor: pointer;
}

.our-img-box {
  position: relative;
  width: 850px;
  height: 566px;
  overflow: hidden;
  background: url("../img/bg-people.jpg") no-repeat;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-people.jpg',sizingMethod='scale');
}

.our-img-box:after, .about-more-img:after {
  content: "";
  position: absolute;
  right: -17px;
  top: 50%;
  width: 34px;
  height: 34px;
  overflow: hidden;
  margin-top: -24px;
  background: #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.our-img-box2 {
  background: url("../img/bg-people2.jpg") no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-people2.jpg',sizingMethod='scale');
}

.our-img-box3 {
  background: url("../img/bg-people3.jpg") no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-people3.jpg',sizingMethod='scale');
}

.our-img-alt {
  padding-top: 114px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-family: "微软雅黑";
}

.alt-ch {
  font-size: 50px;
  line-height: 90px;
}

.alt-en {
  font-size: 158px;
  line-height: 110px;
}

.alt-ad {
  display: block;
  margin-top: 19px;
  font-size: 22px;
  line-height: 42px;
}

.our-txt-box {
  text-align: center;
  width: 290px;
  height: 566px;
  overflow: hidden;
  padding: 0 70px;
}

.our-txt-box p {
  margin-bottom: 50px;
  text-align: left;
  line-height: 30px;
  font-size: 12px;
  color: #aaa;
  font-family: "宋体";
}

.our-txt-tit {
  margin: 166px 0 32px;
  text-align: center;
  font-size: 20px;
  color: #666;
  font-family: "微软雅黑";
  font-weight: bold;
}

.our-txt-tit span {
  vertical-align: middle;
  font-size: 24px;
  color: #e74f4d;
  font-family: "微软雅黑";
}

.btn-more {
  padding: 9px 28px;
  border: 1px solid #e74f4d;
  font-size: 12px;
  color: #e74f4d;
  font-family: "微软雅黑";
}

.btn-more:hover {
  background: #e74f4d;
  color: white;
}

.about-more-txt li {
  width: 425px;
  height: 521px;
  overflow: hidden;
  text-align: center;
}

.about-more-txt li span {
  display: block;
  width: 31px;
  margin: 20px auto 25px;
  border-top: 3px solid #e74f4d;
}

.about-more-txt .red {
  background: #e74f4d;
}

.about-more-txt .red .about-more-btn {
  color: white;
  border: 1px solid white;
}

.about-more-txt .red .about-more-btn:hover {
  color: #e74f4d;
  background: white;
}

.about-more-txt .red .more-txt-tit {
  color: white;
}

.about-more-txt .red span {
  border-color: white;
}

.about-more-btn {
  display: inline-block;
  _display: inline;
  padding: 11px 42px;
}

.more-txt-tit {
  margin: 174px 0 0;
  font-size: 21px;
  color: #323333;
  font-family: "黑体";
}

.about-more-img {
  position: relative;
  width: 430px;
  height: 521px;
  overflow: hidden;
  background: url("../img/bg-girl.jpg") no-repeat;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg-girl.jpg',sizingMethod='scale');
}

.about-more-img:after {
  left: -17px;
}

.add .container {
  width: 1000px;
  min-width: 1000px;
  padding-bottom: 155px;
}

.add-tit {
  margin: 120px 0 107px;
  text-align: center;
}

.add-tit span {
  display: block;
}

.underline {
  width: 31px;
  margin: 8px auto 15px;
  border-top: 3px solid #e74f4d;
}

.add-tit-txt {
  font-size: 21px;
  color: #323333;
  font-family: "黑体";
}

.add-tit-info {
  width: 420px;
  margin: 0 auto;
  line-height: 18px;
  font-size: 12px;
  color: #aaa;
  font-family: "微软雅黑";
}

.add-condition {
  width: 288px;
  height: auto;
  overflow: hidden;
}

.add-condition li {
  position: relative;
  margin-bottom: 40px;
}

.add-condition li:after {
  position: absolute;
  bottom: -15px;
  right: 26px;
  width: 10px;
  height: 10px;
  font-size: 8px;
  content: ">";
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.add-condition span {
  display: block;
  font-size: 14px;
  color: #231815;
  font-family: "黑体";
}

.add-condition p, .add-condition a {
  font-size: 12px;
  color: #231815;
  font-family: "宋体";
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.add-condition p {
  margin-top: 27px;
}

.add-condition a {
  position: absolute;
  bottom: -20;
  right: 0;
}

.add-condition a:hover {
  text-decoration: underline;
}

.add-form {
  width: 639px;
  height: auto;
  overflow: hidden;
}

.add-form input, .add-form textarea {
  padding: 10px 17px;
  background: #ededef;
  border: 0;
  border: 1px solid #ededef;
  font-size: 12px;
  color: #231815;
  font-family: "宋体";
}

.add-form input[type="text"] {
  width: 276px;
  height: 21px;
  overflow: hidden;
}

.add-form textarea {
  width: 603px;
  height: 100px;
  overflow: hidden;
  resize: none;
  line-height: 16px;
}

.add-form-row {
  margin-bottom: 14px;
}

.add-form-row input[type="button"] {
  width: 639px;
  height: 41px;
  overflow: hidden;
  font-size: 14px;
  color: #323333;
  font-family: "微软雅黑";
}

.add-form-row input[type="button"]:hover {
  background: #e4e4e4;
}

.footer {
  background: #33363f;
  height: 361px;
  text-align: center;
}

.footer-txt {
  padding: 90px 0 30px;
}

.footer-txt-tit {
  font-size: 21px;
  color: #fff;
  font-family: "黑体";
}

.footer-txt-info {
  width: 468px;
  margin: 12px auto 0;
  line-height: 18px;
  font-size: 12px;
  color: #fff;
  font-family: "宋体";
}

.footer-search {
  text-align: center;
}

.footer-search span {
  display: inline-block;
  _display: inline;
}

.footer-search input {
  float: left;
  padding: 0 10px;
  border: none;
  width: 431px;
  height: 41px;
  overflow: hidden;
  font-size: 14px;
  color: #aaa;
  font-family: "微软雅黑";
}

.footer-search input[type="submit"] {
  width: 81px;
  height: 41px;
  overflow: hidden;
  background: #6f7178;
  font-size: 15px;
  color: #fff;
  font-family: "微软雅黑";
}

.footer-icon {
  display: inline-block;
  _display: inline;
  margin-top: 37px;
}

.footer-icon li {
  padding: 0 20px;
  float: left;
}

.footer-icon li a {
  float: left;
}

.footer-icon li i:hover {
  cursor: pointer;
}

.copyright {
  height: 59px;
  line-height: 59px;
  background: #2f2f38;
  font-size: 12px;
  color: #fff;
  font-family: "微软雅黑";
}

.icon-logo {
  margin-right: 5px;
  width: 31px;
  height: 31px;
  overflow: hidden;
  background: url("../img/logo-little.jpg") no-repeat;
}

.icon-user {
  margin-right: 5px;
  width: 14px;
  height: 21px;
  overflow: hidden;
  background: url("../img/icon-user.jpg") no-repeat;
}

.icon-circle {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: url("../img/icon-circle.jpg") no-repeat;
}

.icon-flag {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: url("../img/icon-flag.jpg") no-repeat;
}

.icon-flower {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: url("../img/icon-flower.jpg") no-repeat;
}

.icon-diam {
  width: 42px;
  height: 42px;
  overflow: hidden;
  background: url("../img/icon-diam.jpg") no-repeat;
}

.logo-big {
  width: 91px;
  height: 91px;
  overflow: hidden;
  background: url("../img/logo-big.png") no-repeat;
}

.icon-qq {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: url("../img/icon-qq.png") no-repeat;
}

.icon-weibo {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: url("../img/icon-weibo.png") no-repeat;
}

.icon-twitter {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: url("../img/icon-twitter.png") no-repeat;
}

.icon-earth {
  width: 30px;
  height: 30px;
  overflow: hidden;
  background: url("../img/icon-earth.png") no-repeat;
}
