body {
    font: 16px "微软雅黑";
}

h3 {
    text-align: center;
    margin-top: 0;
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

li {
    width: auto;
    margin-right: 5px;
    border: 1px solid #4488ff;
    padding: 5px 10px;
    border-radius: 5px;
}

li:hover {
    cursor: pointer;
    background: #4488ff;
    color: #fff;
}

.clearfix {
    *zoom:1;}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0;
}

input,input[type="button"],.rank-box,.pop,.del-pop {
    border: 1px solid #dedede;
    border-radius: 5px;
}

label {
    width: 80px;
    display: inline-block;
    text-align: right;
}

input {
    padding: 5px;
}

input:focus {
    outline: none;
    border: 1px solid #4488ff;
}

input[type="button"] {
    padding: 5px 7px;
    background: #f1f1f1;
}

input[type="button"]:hover {
    cursor: pointer;
    background: #4488ff;
    border: 1px solid #fff;
    color: #fff;
}

input[type="button"]:focus {
    outline: none;
    border: 1px solid #fff;
}


.b1 {
    width: 450px;
}

div {
    width: 50%;
    margin: 1px;
    padding: 10px;
    border: 2px solid #666;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
