body,html{
	background: #fff;
}
ul,p{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a:link,input:focus,textarea:focus,select:focus{
	outline: none;
}
a:hover{
	cursor: pointer;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	height: 0;
	clear: both;
	content: "";
	visibility: hidden;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.container{
	width: 1280px;
	min-width: 1280px;
	margin: 0 auto;
}
.icon{
	display: inline-block;
	_display: inline;
}
