body,input{
	background: #fff;
	@include txts(14px,#333,"微软雅黑")
}
body{
	background: $bgClr;
}
ul,p{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	color: #333;
	text-decoration: none;
}
a:link,input:focus,textarea:focus,select:focus{
	outline: none;
}
a:hover{
	cursor: pointer;
}
input{
	border: 0;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	height: 0;
	clear: both;
	content: "";
	visibility: hidden;
	display: block;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.container{
	width: 96%;
	margin: 0 auto;
	overflow: hidden;
	// background: red;
}
.icon{
	display: inline-block;
	_display: inline;
}
