doctype
html
	head
		meta(charset="utf-8")
		title 第六期-报纸排版
		link(rel="stylesheet", href="../css/style.css")
	body
		.container
			//- header
			.header.clearfix
				.head-logo.fl
					span 话油画
				.head-time.fr
					span 2017.09.06
			.content
				.cont.banner-box.clearfix
					.banner.fl
						span.mask-1
						span.mask-2
					.banner-info.fr
						.banner-txt1
							span.txt1
								b A
								|BOUT<br>
							span.txt1
								b O
								|iL PAiNTiNG<br>
							span.txt2
								i About oil painting; a painting in oils
						.banner-txt2
							span 700
						.banner-txt3.clearfix
							span.fl.txt3 3.2
							div.fl.txt-box
								span.txt4 oils<br>
								span.txt5 Mixed pigment
				.cont.news-box.clearfix
					ul.news.clearfix
						li.oil-intro
							span 油画介绍
							p 油画（an oil painting；a painting in oils）是以用快干性的植物油（亚麻仁油、罂粟油、核桃油等）调和颜料，在画布亚麻布，纸板或木板上进行制作的一个画种。作画时使用的稀释剂为挥发性的松节油和干性的亚麻仁油等。画面所附着的颜料有较强的硬度，当画面干燥后，能长期保持光泽。凭借颜料的遮盖力和透明性能较充分地表现描绘对象，色彩丰富，立体质感强。油画是西洋画的主要画种之一。
						li.oil-history
							span 油画历史
							p 油画的前身是15世纪以前欧洲绘画中的蛋彩画，后经尼德兰画家扬·凡·艾克(Jan Van Eyck),(1385年-1441年)对绘画材料等加以改良后发扬光大。后人因扬·凡·艾克对油画艺术技巧的纵深发展做出的独特贡献，誉其为“油画之父”。
						li.oil-skills
							span 油画技法
							p 油画颜料厚堆的功能和极强的可塑性是其他画种无法比拟的
							ul.news-list
								li 挫-------
									em 根部落笔着色
								li 拍-------
									em 画面上轻轻拍打
								li 扫-------
									em 另一种颜色扫上去
				.cont.article-box.clearfix
					.article-txt.fl
						h2
							span.txt6 THE
							span.txt7 painting in oils arts
							span.txt8 话说油画
						.text-box
							span.txt9 油
							| 画逐渐成为西方绘画史中的主体绘画方式，存世的西方绘画作品主要是油画作品。随着时间的发展油画逐渐生活化，其中最著名的就是《蒙娜丽莎》表现的一个普通妇女并广为流传。19世纪后期，由于科技发展，许多新材料应用于油画领域，如丙烯颜料，油漆等。
							img(src="../img/img1.jpg", alt="")
							| 从18世纪开始，油画艺术也同样在社会、文化、科技等多元因素的冲击下，有了翻天覆地、摧枯拉朽的变化。
							p 中国的油画最早出现在棺椁器具之中，据周礼、汉书等文献所记，二千多年前的中国已有用“油”绘画的历史。通常的说法是1581年利玛窦携天主、圣母像到中国后，才开始了中国的油画，其中一幅“木美人”作品，虽历时五百年，仍依稀可见画风的古朴厚重。
							p 清末维新戊戌变法后，许多青年学子先后赴英国、法国、日本等国学习西洋油画，他们中有：李铁夫、冯钢百、李毅士、李叔同（弘一法师）、林风眠、徐悲鸿、刘海粟、颜文梁、潘玉良、庞薰琹、常书鸿、吴大羽、唐一禾、陈抱一、关良、王悦之、卫天霖、许幸之、倪贻德、丁衍庸等。这些人归国后带来了西方及日本先进的教学方法及理念，如1911年西洋归国的周湘创办了中国第一所美术学校；1912年刘海粟创办上海图画学术院，并第一次起用人体模特写生；1927年，中央大学开设艺术科（徐悲鸿任主任）等。
					.article-img.fr
						.atc-jpg-box
							.atc-jpg-info
							span 花仙子
								em xing.org1^
						.atc-list-box
							ul
								li 后印象派的重要的画家---------凡高
								li 自幼有非凡的艺术才能的画家---------毕加索
								li 俄罗斯写实主义绘画大师---------列宾
							.foot-box.clearfix
								.red-bg-box.fl
									span.txt10 0
									span.txt11-box
										em.txt11 ONE TWO<br>THREE FOUR FIVE<br>
										em.txt12 painting in oils arts
								.foot-txt-box.fr
									em.txt13 “
									span
										i
										| Chinese oil paint ings first app eared i n co ffins,More than a than two thousand year than years ago.
									em.txt14 ”


			.footer
				span xing.org1

